{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

<h1 class="text-success text-center">Update</h1>

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 bg-secondary">
            <form class="mb-3" action="/update_profile" method="post" enctype = "multipart/form-data">
                <fieldset class="mt-2">
                    <legend> Edit Profile   <img src = {{ photos_folder + current_user.photo}} alt="" width="50" height="50"></legend>
                    <hr class="half-rule" color="grey" />
                    <div class="form-group">
                        <label for="nameInput">Username (readonly)</label>
                        <input type="text" name="username" class="form-control" id="usernameInput" placeholder="{{ current_user.username|e }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" name="name" class="form-control" id="nameInput" placeholder="{{ current_user.name|e }}" >
                    </div>
                    <div class="form-group">
                        <label for="currentpasswordInput">Current Password</label>
                        <input type="text" name="currentpassword" class="form-control" id="currentpasswordInput" placeholder="" required>
                    <div class="form-group">
                        <label for="newpasswordInput">New Password</label>
                        <input type="text" name="newpassword" class="form-control" id="newpasswordInput" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="aboutInput">About</label>
                        <textarea class="form-control" name="about" id="aboutInput" rows="10">{{ current_user.about|e }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="photoInput">Photo</label>
                        <input type = "file" name = "photo" id="photoInput"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update profile</button>
                </fieldset>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% endblock %}
